.del{
    background:none;
    border:none;
    width:auto;
}
button {
    width: 20%;
    font-size: 2vw;
}
.die {
    width: 10%;
    display: inline-block;
    text-align: center;
}
input {
    width: 8%;
    font-size: 2vw;
}
#addSec {
    font-size: 2vw;
}
#center{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;
}