.del{
    background:none;
    border:none;
    width:auto;
    color:red;
}
button {
    
    font-size: 2vw;
}
.die {
    width: 10%;
    display: inline-block;
    text-align: center;
}
input {
    width: 8%;
    font-size: 2vw;
}
#addSec {
    font-size: 2vw;
}
#center{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;
}
#schemaTitleDiv{
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 1px #000000;
    border-bottom-style: solid;
    border-top-style: solid !important;
    border-top: 1px #000000;
}
#schemaTitle{
    font-size: 1.17em;
    font-weight: bold;
}