audio {
    width:100%;
    max-width: 720px;
}
#text{
    max-width: 720px;
    width:80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#header{
    align-content: center;
    margin-right: auto;
    margin-left:auto;
    display:block;
    text-align:center;
    width:80%;
    max-width: 720px;
}
img{
    align-content: center;
    margin-right: auto;
    margin-left:auto;
    width:100%;
    max-width:720px;
}
button{
    display: inline;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    font-size:2em;
    width: 5%;
    font-weight: bold;
}
#prev{
    text-align: left;
    margin-left: 0px;
}
#next{
    text-align:right;
    margin-right:0px;

}
h1{
    display:inline;
}
#title{
    width:80%;
    display:inline-block;
    font-size:2em;
}

body{
    font-family: sans-serif;
    color:#444;
    font-size: 18px;
}
a{
    text-decoration: none;
    color:black;
}